[submodule "第一章/OpenFPGAduino"]
	path = 第一章/OpenFPGAduino
	url = https://github.com/OpenFPGAduino/OpenFPGAduino
[submodule "第一章/iotjs"]
	path = 第一章/iotjs
	url = https://github.com/Samsung/iotjs
[submodule "第一章/Espruino"]
	path = 第一章/Espruino
	url = https://github.com/espruino/Espruino
[submodule "第一章/cylon"]
	path = 第一章/cylon
	url = https://github.com/hybridgroup/cylon
[submodule "第一章/d3"]
	path = 第一章/d3
	url = https://github.com/d3/d3
[submodule "第一章/Chart.js"]
	path = 第一章/Chart.js
	url = https://github.com/chartjs/Chart.js
