body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../windows_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:1px;
    width:960px;
    height:600px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:960px;
    height:600px;
}

.u1 {
    position:absolute;
    left:2px;
    top:292px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:1px;
    width:960px;
    height:600px
}

