body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../登录页面_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:600px;
    height:400px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:606px;
    height:406px;
}

.u1 {
    position:absolute;
    left:2px;
    top:192px;
    width:596px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:600px;
    height:400px
}

.u2_original {
    background-image: url('../登录页面_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:160px;
    top:40px;
    width:320px;
    height:60px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:160px;
    top:40px;
    width:320px;
    height:60px
}

.u4_original {
    background-image: url('../登录页面_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:280px;
    top:155px;
    width:112px;
    height:40px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:46px;
}

.u5 {
    position:absolute;
    left:2px;
    top:10px;
    width:108px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:280px;
    top:155px;
    width:112px;
    height:40px
}

.u6 {
    position:absolute;
    left:384px;
    top:160px;
    width:140px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_original {
    background-image: url('../登录页面_files/u4_original.png');
}

.u7_container {
    position:absolute;
    left:280px;
    top:200px;
    width:112px;
    height:40px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:46px;
}

.u8 {
    position:absolute;
    left:2px;
    top:10px;
    width:108px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:280px;
    top:200px;
    width:112px;
    height:40px
}

.u9 {
    position:absolute;
    left:384px;
    top:205px;
    width:140px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10_original {
    background-image: url('../登录页面_files/u4_original.png');
}

.u10_container {
    position:absolute;
    left:280px;
    top:245px;
    width:112px;
    height:40px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:46px;
}

.u11 {
    position:absolute;
    left:2px;
    top:10px;
    width:108px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:280px;
    top:245px;
    width:112px;
    height:40px
}

.u12_original {
    background-image: url('../登录页面_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:407px;
    top:252px;
    width:20px;
    height:25px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:31px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:407px;
    top:252px;
    width:20px;
    height:25px
}

.u14 {
    position:absolute;
    left:384px;
    top:250px;
    width:26px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15_original {
    background-image: url('../登录页面_files/u12_original.png');
}

.u15_container {
    position:absolute;
    left:448px;
    top:253px;
    width:20px;
    height:25px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:31px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:448px;
    top:253px;
    width:20px;
    height:25px
}

.u17 {
    position:absolute;
    left:424px;
    top:250px;
    width:26px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18_original {
    background-image: url('../登录页面_files/u12_original.png');
}

.u18_container {
    position:absolute;
    left:489px;
    top:253px;
    width:20px;
    height:25px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:31px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:489px;
    top:253px;
    width:20px;
    height:25px
}

.u20 {
    position:absolute;
    left:465px;
    top:251px;
    width:26px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:505px;
    top:250px;
    width:26px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22_container {
    position:absolute;
    left:20px;
    top:312px;
    width:160px;
    height:40px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:40px;
}

.u23 {
    position:absolute;
    left:2px;
    top:12px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:20px;
    top:312px;
    width:160px;
    height:40px
}

.u24 {
    position:absolute;
    left:400px;
    top:305px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25_original {
    background-image: url('../登录页面_files/u25_original.png');
}

.u25_container {
    position:absolute;
    left:10px;
    top:150px;
    width:160px;
    height:130px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:130px;
}

.u26 {
    position:absolute;
    left:2px;
    top:57px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:10px;
    top:150px;
    width:160px;
    height:130px
}

